@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

:root{
    --primary-color: #4F46E5;
    --secondary-color: #E0E7FF; 
    --off-white: #E5E7EB ;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--secondary-color);
    font-family: 'Otomanopee One', sans-serif;
}
.container{
    max-width: 600px;
    margin: auto;
    padding-top: 1.5rem;   
    color: white;

}

.notice{
    background-color: var(--secondary-color);   
    border-radius: 0.3rem;
    box-shadow: 0px 0px 5px 0px var(--off-white);
    text-align: center;
    color: black;
    padding: 0.6rem;
}

header{
    background-color: var(--primary-color);   
    border-radius: 0.3rem;
    padding: 1.5rem 1rem;
    box-shadow: 0px 0px 5px 0px var(--off-white);
    text-align: center;
   
}

label{
    display: block;
    margin-bottom: 0.5;
    font-weight: bold;
    padding: 0.5rem;
}

input{
    width: 45%;
    padding: 0.5rem;
}

.form{
    margin: auto;
    text-align: center;
    background-color: var(--primary-color);   
    border-radius: 0.3rem;
    padding: 1.5rem 1rem;
    box-shadow: 0px 0px 5px 0px var(--off-white);
    
}

.button{
    
    max-width: 90%;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
    
    

}

.button:hover{
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;

}

.output{
    text-align: center;  
    color:var(--primary-color);
    
}

.footer{
    background-color: var(--primary-color);   
    border-radius: 0.3rem;
    padding: 1.5rem 1rem;
    box-shadow: 0px 0px 5px 0px var(--off-white);
    text-align: center;
   
}

.list-footer{
    display: flex;
    justify-content: center;
    list-style: none;
}

.list-item{
    margin: 0.5rem;
    padding: 0rem 1rem;
}

.list-link{
    text-decoration: none;
    color: white;
}

.fa{
    font-size: 1.1rem;
}




